.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  background-color: #cd723d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.icon-container a {
  margin: 0 10px;
}

.copyright-container p {
  margin: 0;
  font-size: 14px;
}

.nav-style {
  background-color: #cd723d; 
}
