
.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;

}


.footer {
  display: flex;
  background-color: hsl(22, 18%, 30%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}


.icon-container {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.icon-container a {
  margin: 0 10px;
}


.footer p {
  background-color: hsl(22, 18%, 30%);
  margin: 0;
  font-size: 14px;
}

.py-3 {
  padding: 5px 0;
}
