.navbar {
  background-color: #4C687A !important;
}

.nav-link {
  color: whitesmoke !important;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: lightgray !important;
}

.nav-link:active {
  color: coral !important;
}
